{# TODO Исправить перевод, убрать мусор из файла #}
{# TODO Также добавить нужные комментарии, т.к. это важный и самый главный шаблон #}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>AdminX - HomePage</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "/dist/css/adminx.css" %}" media="screen"/>
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
    <!--
      # Optional Resources
      Feel free to delete these if you don't need them in your project
    -->
</head>
<body>
<div class="adminx-container">
    <nav class="navbar navbar-expand justify-content-between fixed-top">
        {% if user.is_authenticated %}
            <a class="navbar-brand mb-0 h1 d-none d-md-block" href="#">
                <img src="{% static "/demo/img/logo.png" %}" class="navbar-brand-image d-inline-block align-top mr-2"
                     alt="">
                {% firstof user.username %}
            </a>
        {% else %}
            <a class="navbar-brand mb-0 h1 d-none d-md-block" href="index.html">
                <img src="{% static "/demo/img/logo.png" %}" class="navbar-brand-image d-inline-block align-top mr-2"
                     alt="">
                AdminX
            </a>
        {% endif %}

        <form class="form-inline form-quicksearch d-none d-md-block mx-auto">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-search">
                            <circle cx="10.5" cy="10.5" r="7.5"></circle>
                            <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                        </svg>
                    </div>
                </div>
                <input type="text" class="form-control" id="search" placeholder="Type to search...">
            </div>
        </form>

        <div class="d-flex flex-1 d-block d-md-none">

            {#            Это хрень была сделана для мобилы, но на основной странице это не нужно.#}
            {#            <a href="#" class="sidebar-toggle ml-3">#}
            {#                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"#}
            {#                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"#}
            {#                     class="feather feather-menu">#}
            {#                    <line x1="3" y1="12" x2="21" y2="12"></line>#}
            {#                    <line x1="3" y1="6" x2="21" y2="6"></line>#}
            {#                    <line x1="3" y1="18" x2="21" y2="18"></line>#}
            {#                </svg>#}
            {#            </a>#}
        </div>

            <ul class="navbar-nav d-flex justify-content-end mr-2">
            <!-- Notificatoins -->
            <li class="nav-item dropdown  align-items-center mr-2">
                <a class="nav-link nav-link-notifications" id="dropdownNotifications" data-toggle="dropdown" href="#">
                    <i class="oi oi-bell display-inline-block align-middle"></i>
                    <span class="nav-link-notification-number">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-notifications"
                     aria-labelledby="dropdownNotifications">
                    <div class="notifications-header d-flex justify-content-between align-items-center">
                <span class="notifications-header-title">
                  Notifications
                </span>
                        <a href="#" class="d-flex"><small>Mark all as read</small></a>
                    </div>

                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action unread">
                            <p class="mb-1">Invitation for <strong>Lunch</strong> on <strong>Jan 12th 2018</strong> by
                                <strong>Laura</strong></p>

                            <div class="mb-1">
                                <button type="button" class="btn btn-primary btn-sm">Accept invite</button>
                                <button type="button" class="btn btn-outline-danger btn-sm">Decline</button>
                            </div>

                            <small>1 hour ago</small>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <p class="mb-1"><strong class="text-success">Goal completed</strong><br>1,000 new members
                                today</p>
                            <small>3 days ago</small>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <p class="mb-1 text-danger"><strong>System error detected</strong></p>
                            <small>3 days ago</small>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <p class="mb-1">Your task <strong>Design Draft</strong> is due today.</p>
                            <small>4 days ago</small>
                        </a>
                    </div>

                    <div class="notifications-footer text-center">
                        <a href="#"><small>View all notifications</small></a>
                    </div>
                </div>
            </li>
            <!-- Notifications -->
            <li class="nav-item dropdown">
                {% if user.is_anonymous %}
                    {#                    <a href="/login/"><button type="button" class="btn btn-sm btn-primary">Log in</button></a>#}
                    <a class="btn btn-sm btn-primary" href="/login/">Log in</a>
                    <a class="btn btn-sm btn-success" href="/register/">Sign up</a>
                {% else %}
                    <a href="/logout/">
                        <button type="button" class="btn btn-sm btn-outline-danger">Sign out</button>
                    </a>
                {% endif %}
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">My Profile</a>
                    <a class="dropdown-item" href="#">My Tasks</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="#">Sign out</a>
                </div>
            </li>
        </ul>
    </nav>

    <!-- expand-hover push -->
    <!-- Sidebar -->
    <!-- Sidebar End -->

    <!-- adminx-content-aside -->
    <div class="adminx-content">
        <!-- <div class="adminx-aside">

        </div> -->

        <div class="adminx-main-content">
            <div class="container-fluid">
                <!-- BreadCrumb -->
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb adminx-page-breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"></li>
                    </ol>
                </nav>

                <div class="pb-3">
                    <h2>Домашняя страница</h2>
                    {% if user.is_authenticated %}
                            <small class="form-text text-muted">
                                {% now "H" as current_time %}{% if current_time|add:"0" > 6 and current_time|add:"0" < 12 %} Доброе
                                    утро{% elif current_time|add:"0" > 12 and current_time|add:"0" < 18 %} Добрый
                                    день{% elif current_time|add:"0" > 18 and current_time|add:"0" < 23 %} Добрый
                                    вечер{% elif current_time|add:"0" > 23 or current_time|add:"0" > 0 and current_time|add:"0" < 6 %}
                                    Доброй ночи{% endif %}, {% firstof user.username %}!
                            </small>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mb-grid">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div class="card-header-title">Скрываемый блок</div>

                                <nav class="card-header-actions">
                                    <a class="card-header-action" data-toggle="collapse" href="#card1"
                                       aria-expanded="false"
                                       aria-controls="card1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24"
                                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                             stroke-linejoin="round" class="feather feather-minus-circle">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="8" y1="12" x2="16" y2="12"></line>
                                        </svg>
                                    </a>

                                    <div class="dropdown">
                                        <a class="card-header-action" href="#" role="button" id="card1Settings"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-settings">
                                                <circle cx="12" cy="12" r="3"></circle>
                                                <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                                            </svg>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="card1Settings">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>

                                    <a href="#" class="card-header-action">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24"
                                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                             stroke-linejoin="round" class="feather feather-x-circle">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="15" y1="9" x2="9" y2="15"></line>
                                            <line x1="9" y1="9" x2="15" y2="15"></line>
                                        </svg>
                                    </a>
                                </nav>
                            </div>
                            <div class="card-body collapse show" id="card1">
                                <p class="form-text text-muted">Что-то типо домашней страницы сайта, с которой можно
                                    куда-нибудь перейти))
                                </p>
                                {% if user.is_anonymous %}
                                    <p class="form-text text-muted mb-0">Авторизуйся, чтобы тут появились полезные
                                        ссылки</p>
                                {% else %}
                                    <div class="row m-0">
                                        <a href="/prod/admin/dashboard" class="btn btn-sm btn-info mr-2">DashBoard</a>
                                        <a href="/prod/admin/charts" class="btn btn-sm btn-info">Мониторинг</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {#                    <div class="col-lg-6">#}
                    {#                        <div class="card mb-grid">#}
                    {#                            <div class="card-header d-flex justify-content-between align-items-center">#}
                    {#                                <div class="card-header-title">Полезные ссылки</div>#}
                    {##}
                    {#                                <nav class="card-header-actions">#}
                    {#                                    <a class="card-header-action" data-toggle="collapse" href="#card2"#}
                    {#                                       aria-expanded="false"#}
                    {#                                       aria-controls="card2">#}
                    {#                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"#}
                    {#                                             viewBox="0 0 24 24"#}
                    {#                                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"#}
                    {#                                             stroke-linejoin="round" class="feather feather-minus-circle">#}
                    {#                                            <circle cx="12" cy="12" r="10"></circle>#}
                    {#                                            <line x1="8" y1="12" x2="16" y2="12"></line>#}
                    {#                                        </svg>#}
                    {#                                    </a>#}
                    {##}
                    {#                                    <div class="dropdown">#}
                    {#                                        <a class="card-header-action" href="#" role="button" id="card1Settings"#}
                    {#                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                    {#                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"#}
                    {#                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"#}
                    {#                                                 stroke-linecap="round" stroke-linejoin="round"#}
                    {#                                                 class="feather feather-settings">#}
                    {#                                                <circle cx="12" cy="12" r="3"></circle>#}
                    {#                                                <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>#}
                    {#                                            </svg>#}
                    {#                                        </a>#}
                    {##}
                    {#                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="card1Settings">#}
                    {#                                            <a class="dropdown-item" href="#">Action</a>#}
                    {#                                            <a class="dropdown-item" href="#">Another action</a>#}
                    {#                                            <a class="dropdown-item" href="#">Something else here</a>#}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {##}
                    {#                                    <a href="#" class="card-header-action">#}
                    {#                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"#}
                    {#                                             viewBox="0 0 24 24"#}
                    {#                                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"#}
                    {#                                             stroke-linejoin="round" class="feather feather-x-circle">#}
                    {#                                            <circle cx="12" cy="12" r="10"></circle>#}
                    {#                                            <line x1="15" y1="9" x2="9" y2="15"></line>#}
                    {#                                            <line x1="9" y1="9" x2="15" y2="15"></line>#}
                    {#                                        </svg>#}
                    {#                                    </a>#}
                    {#                                </nav>#}
                    {#                            </div>#}
                    {#                            <div class="card-body collapse show" id="card2">#}
                    {#                                {% if user.is_authenticated %}#}
                    {#                                    <a href="/prod/admin/dashboard">dashboard</a>#}
                    {#                                {% endif %}#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!-- If you prefer jQuery these are the required scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="{% static "/dist/js/vendor.js" %}"></script>
<script src="{% static "/dist/js/adminx.js" %}"></script>

<!-- If you prefer vanilla JS these are the only required scripts -->
<!-- script src="./dist/js/vendor.js"></script>
<script src="./dist/js/adminx.vanilla.js"></script-->


</body>
</html>